.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

/* Container for the Tabs component */
.custom-tabs-container {
  padding: 5px;
  background-color: #e4e1e1;
  color: #fff;
}

/* Style for individual tab labels */
.custom-tab-pane {
  background-color: #ffffff;
  padding: 12px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-right: 4px;
  font-size: 16px;
  color: #faf6f6;
  transition: background-color 0.3s ease;
}

/* Style for the active tab label */
.custom-tab-pane.ant-tabs-tab-active {
  background-color: #636262;
  color: #fff;
}
.custom-tab-pane.label{
  color: #faf6f6;
}